{% set user = '' %}
{% if not _User.isGuest()%}
    {% set user = _User.getUser()%}
{% endif %}
<header class="header">
    <div class="header__heading header__container">
        <div class="header__heading-highlight"></div>        
        {{ this.render('user-dropdown.twig', {network: network, user: user}) | raw }}
        <div class="header__heading-container">
            <div class="header__heading--left">
                {% set logo = network.templatePath~'/static/images/themeLogo.svg'%}
                {% set logoUrl = network.networkLogoLinkUrl %}
                {% if network.logoMedia | length > 0 %}
                    {% set logo = _Media.getMediaUrl(network.logoMedia, 177, 65, {'crop': 'limit'} )%}
                {% endif %}
                <a class="header__heading-logo" href="{{logoUrl}}">
                    <img src="{{logo}}" />
                </a>
            </div>
            <div class="header__heading--right">
                <div class="header__heading-icons">
                    <a href="javascript:void(0)" class="header__heading-link header__heading-link--responsive">
                        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                        <svg width="20px" height="14px" viewBox="0 0 20 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                        <title>Hamburger</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Mobile" stroke="none" stroke-width="1" fill-rule="evenodd" opacity="0.8">
                            <g id="Theme-2-Home---mobile" transform="translate(-337.000000, -41.000000)">
                                <g id="Header">
                                    <g id="Hamburger" transform="translate(337.000000, 41.000000)">
                                        <rect id="Rectangle" x="0" y="0" width="20" height="2"></rect>
                                        <rect id="Rectangle-Copy-2" x="0" y="6" width="20" height="2"></rect>
                                        <rect id="Rectangle-Copy-3" x="0" y="12" width="20" height="2"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                        </svg>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="header__navigation">
        <div class="container">
            <div class="header__navigation-row">
                <ul class="header__navigation-list">
                    {% set menuItems = blogData.blogHeaderMenu %}
                    {% for i in 0..4 %}
                        {% if menuItems[i] is defined %}
                            {% set activeClass = (menuItems[i].link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                            {% set externalClass = (menuItems[i].isExternal) ? 'external-link' : '' %}
                            {% set hasChildren = menuItems[i].children is defined and menuItems[i].children | length > 0 ? true : false %} 
                            <li class="header__navigation-item header__navigation-item--technology channel-1 {% if hasChildren %}  dropdown {% endif%}">
                                
                                <a href="{{menuItems[i].link |raw}}" class="header__navigation-link {{activeClass}} {{externalClass}}" {% if menuItems[i].target != "" %}target="{{menuItems[i].target}}"{% endif %}>
                                    {{ ((menuItems[i].label is empty) ? ((menuItems[i].pageTitle is empty)? menuItems[i].blogTitle : menuItems[i].pageTitle) : menuItems[i].label )}} 
                                {% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}
                                    <i class="fa fa-angle-down"></i>
                                {% endif %}
                                </a>
                                {% if hasChildren %}  
                                    <ul class="dropdown-menu">
                                        {% for childItem in menuItems[i].children%}
                                            {% set externalClass = (childItem.isExternal) ? 'external-link' : '' %}
                                            {% set name = ((childItem.label is empty) ? ((childItem.pageTitle is empty)? childItem.blogTitle : childItem.pageTitle) : childItem.label) %}
                                            <li class="header__navigation-item--{{name}} channel-{{childItem.id}}">
                                                <a href="{{childItem.link |raw}}" class="{{externalClass}}" {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>
                                                    {{ name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if menuItems[5] is defined %}
                        <li class="header__navigation-item dropdown">
                            <a href="#" class="header__navigation-link dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">More <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                {% for i in 5..(menuItems |length - 1)%}
                                    {% set menuItem = menuItems[i] %}
                                    <li id="{% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}dropdown{% endif %}" class="header__navigation-item {{ menuItem.blogTitle|lower }} {% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}  secondary-dropdown {% endif%}">
                                        <a href="{{ menuItem.link }}" class="" id="{% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}dropdown{% endif %}">
                                            {{ ((menuItem.label is empty) ? ((menuItem.pageTitle is empty)? menuItem.blogTitle : menuItem.pageTitle) : menuItem.label )}}
                                            {% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}
                                                <i class="fa fa-angle-right"></i>
                                            {% endif %}
                                        </a>
                                            {% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}  
                                                <ul class="secondary-dropdown-menu">
                                                    {% for childItem in menuItems[i].children%}
                                                        {% set externalClass = (childItem.isExternal) ? 'external-link' : '' %}
                                                        {% set name = ((childItem.label is empty) ? ((childItem.pageTitle is empty)? childItem.blogTitle : childItem.pageTitle) : childItem.label) %}
                                                        <li class="">
                                                            <a href="{{childItem.link |raw}}" class="{{externalClass}}" {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>
                                                                {{ name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="header__navigation-list header__navigation-list--right">
                    <li class="header__navigation-item"><a href="{{network.defaultBlogUrl}}/page/about-us" class="header__navigation-link">About</a></li>
                    <li class="header__navigation-item"><a href="{{network.defaultBlogUrl}}/page/contact-us" class="header__navigation-link">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
